{% include 'header_admin.html' %}
<h1>Pages</h1>
  {% for page in content_data.pages %}
  <div class="row">
    <div class="col-sm-5"><kbd>URL</kbd> innovaref.fi/{{ page.url }}</div>
    <div class="col-sm-5"><kbd>Title</kbd> {{ page.title }}</div>
    <div class="col-sm-2">
      <a href="/admin/edit/{{page.id}}/" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
      <a href="/admin/del/{{page.id}}/" title="Delete"><span class="glyphicon glyphicon-trash"></span></a>
    </div>
  </div>
  {% endfor %}
{% include 'footer_admin.html' %}
