{#<section class="news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="/img/mce.jpg" alt="Mostra Convegno Expocomfort exhibition" class="img-responsive pic">
                            </div>
                            <div class="col-md-7">
                                <h3>Visit to MCE Mostra Convegno Expocomfort exhibition</h3>
                                <p>The Company's specialists visited the exhibition MCE in Milan and discussed current and future projects with the largest European supplier.</p>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="/img/dry_cooler.jpg" alt="Dry coolers" class="img-responsive pic">
                            </div>
                            <div class="col-md-7">
                                <h3>Dry coolers</h3>
                                <p>Negotiations on delivery of six dry coolers for the mining processing plant of NORD GOLD company in Yakutia are underway.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>#}
