<ul class="nav navbar-nav  navbar-right topnav">
    <li class="active"><a href="/fi/saa_tanaan/">Sää tänään</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="/fi/saaennusteet/">
    Sääennusteet
    <span class="caret"></span></a>
        <ul class="dropdown-menu mydropmenu">
            <li><a href="/fi/saa_huomenna/">Sää huomenna </a></li>            
        </ul>
    </li>
    <li><a href="/fi/uutiset/">Uutiset</a></li>
    <li><a href="/fi/yhteytiedot/">Yhteystiedot</a></li>
</ul>
