<ul class="nav navbar-nav  navbar-right topnav">
    <li class="active"><a href="/fi/weather/today/">Sää tänään</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="/fi/weather/forecasts/">
    Sääennusteet
    <span class="caret"></span></a>
        <ul class="dropdown-menu mydropmenu">
            <li><a href="/fi/weather/tomorrow/">Sää huomenna </a></li>
        </ul>
    </li>
    <li><a href="/fi/news/">Uutiset</a></li>
    <li><a href="/fi/contacts/">Yhteystiedot</a></li>
</ul>
